@import '~@teaocha/ui-common/src/styles/variables.scss';

.root {
  box-shadow: $depth-shadow-8;
  background-color: #ffffff;
  display: flex;
  flex-flow: column;
  align-items: center;

  width: 80%;
  margin: auto;
  max-width: 800px;
  padding: 20px 32px 52px;

  h1, h2 {
    text-align: center;
  }

  & > div {
    margin: 0px 20px;
    max-width: 600px;
  }
}